.env
__pycache__
*__pycache__
*/__pycache__/
/__pycache__/
chrome_extension_api/__pycache__/

# Distribution / packaging
.Python/
venv
virtualvenv
virtualenv
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/

venv/
comments.txt
# django migrations
node_modules
